body {
    padding: 20px;
    background-color: #444;
}

table {
    background-color: #c5d6c6;
    border-spacing: 0;
}

td {
    border: 1px solid #f1f5da;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

td.dead {
    background-color: transparent;
}

td.alive {
    background-color: #cc4774;
    border-radius: 10px;
}

span {
    color: #222;
}

#start, #clear, #random {
    padding: .75em;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom right, #c5dec6, #587559);
}

#gridContainer {
    padding-bottom: 10px;
}