/* element selectors */

body {
    background-color: #001f33;
    color: #deb992;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

footer {
    background-color: #1ba098;
    color: #deb992;
    margin-top: 100px;
    padding: 5px;
    text-align: center;
}

header {
    /* image */
    background-image: url('../images/dog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    /* text */
    padding-left: 10%;
    padding-top: 1%;
}

main {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

nav {
    background-color: #1ba098;
    margin-bottom: 30px;
    overflow: hidden;
    padding-left: 10%;
}

nav li{
    float: left;
}

nav li a{
    color: #deb992;
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover:not(.active){
    background-color: #50C9CE;
    color: #deb992;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

/* class selectors */

.container {
    padding: 20px;
}

.column {
    align-content: center;
    box-sizing: border-box;
    float: left;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
}

.column-tarot {
    align-content: center;
    box-sizing: border-box;
    float: left;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 25%;
}

.gallery {
    background-color: #50C9CE;
}

.label {
    font-size: small;
    width: max-content;
}

.staff {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 75%;
}

.tarot {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid rgba(255, 215, 0, 0.7);
}

.tarot:hover {
    border: 3px solid rgba(255, 215, 0, 1);
    background-color: rgba(80, 201, 206, 1);
}

.textarticle {
    color: #ecedee;
}

/* id selectors */

#tarot-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#tarot-description {
    flex: 1;
    text-align: left;
    padding: 20px;
    font-family: 'Crimson Text', serif;
    color: rgb(255, 215, 0);
}

#tarot-image {
    flex: 1;
    position: sticky;
    top: 0;
    width:20%;
}

#tarot-image img {
    max-width: 100%;
    height: auto;
}

#tarot-title {
    font-family: 'Trajan Pro', serif;
    font-size: 50pt;
    text-align: center;
    color: rgb(255, 215, 0);
}

#tarot-title::before {
    content: '\2234 1. ';
}

#tarot-title::after {
    content: ' \2234';
}

#wiki {
    background-color: rgba(80, 201, 206, 0.2);
    border-radius: 5%;
    border: 3px solid rgb(255, 215, 0);
    padding: 10px;
}

#wiki-cit {
    text-align: right;
}

/* attribute selectors */

/* e.g.
[data-type='primary' { ... }
*/

/* fonts */
 
 @font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/trajan-pro/TrajanPro-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* @media rules */
